*{
    margin: 0%;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

/* Estas son las animaciones que aparecen al inicio. */
.slider{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    background-color: rgb(61, 64, 91);
    z-index: 2;
}

.slider2{
    position: absolute;
    top: calc(47vh);
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgb(242, 204, 143);
    z-index: 1;
}

/* Estos son todos los estilos que hacen al nav funcionar. */

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    color: rgb(244, 241, 222);
    align-items: center;
    min-height: 7vh;
    min-width: 100%;
    background-color: rgb(61, 64, 91);
    font-family: 'Fjalla One', sans-serif;
    /*font-family: 'Poppins', sans-serif;*/
    z-index: 4;
    opacity: 0;
}

.nav-shadow{
    box-shadow: 0 5px rgba(0,0,0, .1);
}

.logo{
    text-transform: uppercase;
    font-size: 3vh;
    cursor: pointer;
    letter-spacing: 2px;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    list-style: none;
    font-weight: 400%;
    font-size: 2.5vh;
    letter-spacing: 1px;
}

.nav_links a{
    color:rgb(244, 241, 222);
    text-decoration: none;
}

.nav_links a:hover{
    color: rgb(242, 204, 143);
}

button{
    padding: .5vh .75vh;
    color:rgb(244, 241, 222);
    border: none;
    font-size: 2.4vh;
    font-weight: 400%;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(224, 122, 95,1);
    letter-spacing: 1px;
}

button:hover{
    color: rgb(242, 204, 143);
    background-color: rgba(224, 122, 95,.85);
}

.burger{
    display: none;
}

.burger div{
    width: 20px;
    height: 2px;
    margin: 4px;
    background-color: rgb(244, 241, 222);;
    transition: all 0.3s ease;
}

/* Configuracion del nav para resoluciones moviles */
@media only screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }

    .burger{
        display: block;
        cursor: pointer;
    }

    .nav_links{
        background-color: rgb(61, 64, 91);
        flex-direction: column;
        position: fixed;
        right: 0px;
        top: 7vh;
        width: 100%;
        height: 93%;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 4;
    }

    .nav_links li{
        opacity: 0;
        padding-right: 10%;
    }
    
    .bannerText{
        font-size: 7vh;
    }
    
    .banner p{
        font-size: 3vh;
    }
}

/*Animacion del nav*/
.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,3.6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-3.6px);
}

.body_nav{
    overflow-y: hidden;
}

@keyframes nav_linksFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        text-replace: translateX(0px);
    }
}

/* Banner de bienvenida */
.banner{
    padding-top: 7vh;
    background-color:rgb(242, 204, 143);
    height: calc(7vh + 40vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerText{
    color: rgb(244, 241, 222);
    font-size: 10vh;
    text-align: center;
}

.bannerText a{
    color: rgb(224, 122, 95);
    text-decoration: none;
}

.banner p{
    color: rgb(61, 64, 91);
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    font-weight: bold;
    text-align: center;
}

/* Contenedor despues del banner */
.main{
    box-shadow: inset 0 5px rgba(0,0,0, .1);
    min-height: 100vh;
    width: 100%;
    background-color: rgb(129, 178, 154);
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    justify-items: center;
    align-items: center;
}

.container{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 15px;
    background-color:rgb(244, 241, 222);
    box-shadow: -4px -4px 5px rgba(0,0,0, .1), 5px 5px 0px rgba(0,0,0, .1);
    color: rgb(61, 64, 91);
}

.container h1{
    font-size: 4.5vh;
    padding-top: 2.5%;
    text-align: center;
}

.container p{
    font-family: 'Poppins', sans-serif;
    font-size: 2.5vh;
    color: rgb(44, 46, 61);
    padding-top: 2.5%;
    width: 80%;
    left: 10%;
    position: relative;
    text-align: center;
}
